body {
    background-color: lightgreen;
}

p {
    color: black;
}

#splashTxt {
    color: blue;
}

#fireTxt {
    color: red;
}

#ducksTxt {
    color: yellow;
}

button {
    size: 100px;

}

.buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

#splashbtn {
    color: blue;
    border: blue;
}

#firebtn {
    color: red;
    border: red;
}

#ducksbtn {
    color: yellow;
    border: yellow;
}

